.info {
  font-family: 'EB Garamond';
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: italic;
  font-style: italic;
  margin-top: 20px;
  a {
    color:black;
    text-decoration: none;
  }
  a:hover {
    color: lightgrey;
  }
}

.contactphoto {
  display: flex;
  justify-content: center;
  img {
    height: 20%;
  }
}


@media screen and (max-width: 900px) {
  .contactphoto {
  img {
    width: 40% !important;
    height:40%;
  }
  }
}
