<div id="page-wrap">
  <section id="main-content">
      <div id="guts">
        <div class="centerslide">
          <div class="card-scroller">
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/stripesmen2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/blazergirl2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/biegeold3.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/plaidhomme2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/flowergirl2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/suitold1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/funkyhomme2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/lovegirl2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/yellowold4.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/joggersman2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/pinkgirl3.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/whitesweatold2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/pinkman2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/checkersfemme1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/hatold2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/rougehomme4.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/bluegirl1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/whiteold2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/offwhiteman2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/jumpsuitgirl1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/orangegirl2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/leathergirl1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/redman2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/orangefemme2.jpg" style="height:300px"></div>
            <p class="scroll">scroll for more</p>
          </div>
        </div>
        <div class="grid-width">
          <div class="clients">
            <h6>CLIENTS</h6>
            <div class="client-list">
              <ul>
                <li class="title"><i>Fashion</i></li>
                <li>Printemps.com</li>
                <li>24s.com</li>
                <li>Adidas</li>
                <li>Junko Shimada</li>
                <li>Marie Sixtine</li>
                <li>Pataugas</li>
                <li>Maison D’Auchel</li>
                <li>Stephanie Surer</li>
              </ul>
              <ul>
                <li class="title"><i>Beauty</i></li>
                <li>Yves Rocher</li>
                <li>L'Oreal</li>
                <li>Vichy</li>
                <li>Biotherm</li>
                <li>La Roche Posay</li>
                <li>Clarisonic</li>
                <li>Bourjois</li>
                <li>Sephora</li>
              </ul>
               <ul>
                <li class="title"><i>Magazines</i></li>
                <li>Sorbet Magazine</li>
                <li>Violet Book</li>
                <li>Schön Magazine</li>
                <li>Rev Magazine</li>
                <li>Mojeh</li>
                <li>Grazia</li>
                <li>L’Express Édition Montres</li>
              </ul>
              <ul>
                <li class="title"><i>Other</i></li>
                <li>Moet & Chandon</li>
                <li>Renaud Twingo</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>


