<div id="page-wrap">
  <section id="main-content">
      <div id="guts">
        <div class="centerslide">
          <div class="card-scroller">
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/stripesmen1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/stripesmen2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/blazergirl3.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/blazergirl2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/biegeold2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/biegeold3.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/plaidhomme1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/plaidhomme2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/flowergirl1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/flowergirl2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/suitold3.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/suitold1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/funkyhomme1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/funkyhomme2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/lovegirl1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/lovegirl2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/commercial/yellowold1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/yellowold4.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/joggersman1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/joggersman2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/fringefemme1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/fringefemme2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/whitesweatold1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/whitesweatold2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/pinkman1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/pinkman2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/checkersfemme1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/checkersfemme2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/hatold1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/hatold2.jpg" style="height:300px"></div>
            <p class="scroll">scroll for more</p>
          </div>
        </div>
     <!--    <div class="beauty">
          <h6>BEAUTY</h6>
        </div> -->
        <div class="grid-width">
          <div class="clients">
            <h6>CLIENTS</h6>
            <div class="client-list">
              <ul>
                <li class="title"><i>Fashion</i></li>
                <li>Printemps.com</li>
                <li>24s.com</li>
                <li>Adidas</li>
                <li>Junko Shimada</li>
                <li>Marie Sixtine</li>
                <li>Pataugas</li>
              </ul>
              <ul>
                <li class="title"><i>Beauty</i></li>
                <li>Yves Rocher</li>
                <li>L'Oreal</li>
                <li>Vichy</li>
                <li>Biotherm</li>
                <li>La Roche Posay</li>
                <li>Clarisonic</li>
                <li>Bourjois</li>
              </ul>
               <ul>
                <li class="title"><i>Magazines</i></li>
                <li>Sorbet Magazine</li>
                <li>Violet Book</li>
                <li>Schön Magazine</li>
                <li>Rev Magazine</li>
                <li>Mojeh</li>
                <li>Grazia</li>
              </ul>
              <ul>
                <li class="title"><i>Other</i></li>
                <li>Moet & Chandon</li>
                <li>Renaud Twingo</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>


