<div id="page-wrap">
  <section id="main-content">
      <div id="guts">
        <div class="centerslide">
          <div class="card-scroller">
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/5comm.JPG" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/71comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/2comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/69comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/4comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/67comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/6comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/23comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/25comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/17comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/29comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/40comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/45comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/63comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/16comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/22comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/32comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/44comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/64comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/30comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/15comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/51comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/26comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/49comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/62comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/27comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/20comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/43comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/39comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/56comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/14comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/48comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/66comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/13comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/24comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/19comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/28comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/65comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/67comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/12comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/33comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/69comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/70comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/55comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/59comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/52comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/21comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/11comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/18comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/9comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/34comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/8comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/68comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/71comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/3comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/70comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/36comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/46comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/57comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/68comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/61comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/53comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/10comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/1comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/60comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/54comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/41comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/35comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/58comm.jpeg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/47comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/Photos+commercial+jobs+/37comm.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/hawaii.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/buckethat.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/prada.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/trench.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/rougehomme4.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/greenpants.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/orangedress.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/stripesmen2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/blazergirl2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/biegeold3.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/plaidhomme2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/flowergirl2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/suitold1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/funkyhomme2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/lovegirl2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/yellowold4.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/joggersman2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/pinkgirl3.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/whitesweatold2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/pinkman2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/checkersfemme1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/hatold2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/bluegirl1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/whiteold2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/offwhiteman2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/jumpsuitgirl1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/orangegirl2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/leathergirl1.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/redman2.jpg" style="height:300px"></div>
            <div class="card"><img src="https://dabby.s3.eu-west-3.amazonaws.com/orangefemme2.jpg" style="height:300px"></div>
<!--             <p class="scroll">scroll for more</p>
 -->          </div>
        </div>
        <div class="video" style='display:flex; justify-content:center; align-items:center; flex-wrap: wrap;'>
          <%= video_tag "yves2.mp4",  loop: :loop, muted: :muted, id: "myvideo", style:'height:250px; padding:0 5px;'%>
          <%= video_tag "watch.mp4", loop: :loop, muted: :muted, id: "video2", style:'height:250px; padding:0 5px;' %>
        </div>
        <div class="grid-width">
          <div class="clients">
            <h6>CLIENTS</h6>
            <div class="client-list">
              <ul>
                <li class="title"><i>Fashion</i></li>
                <li>Printemps.com</li>
                <li>24s.com</li>
                <li>Adidas</li>
                <li>Junko Shimada</li>
                <li>Marie Sixtine</li>
                <li>Pataugas</li>
                <li>Maison D’Auchel</li>
                <li>Séphanie Surer</li>
              </ul>
              <ul>
                <li class="title"><i>Beauty</i></li>
                <li>Yves Rocher</li>
                <li>L'Oréal</li>
                <li>Vichy</li>
                <li>Biotherm</li>
                <li>La Roche Posay</li>
                <li>Clarisonic</li>
                <li>Bourjois</li>
                <li>Séphora</li>
              </ul>
               <ul>
                <li class="title"><i>Magazines</i></li>
                <li>Vogue.fr</li>
                <li>Sleek Magazine</li>
                <li>Dedicate</li>
                <li>Sorbet Magazine</li>
                <li>Violet Book</li>
                <li>Rev Magazine</li>
                <li>Mojeh</li>
              </ul>
              <ul>
                <li class="title"><i>Other</i></li>
                <li>Moet & Chandon</li>
                <li>Renault Twingo</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </section>
</div>

<script>
  $('#myvideo').hover(function toggleControls() {
    if (this.hasAttribute("controls")) {
        this.removeAttribute("controls")
    } else {
        this.setAttribute("controls", "controls")
    }
})

    $("#video2").hover(function(e) { //Only show controls on hover
      if(e.type === "mouseenter") {
          $(this).attr("controls", "controls");
      } else if(e.type === "mouseleave") {
          $(this).removeAttr("controls");
      }
    });

</script>

