<div id="page-wrap">
  <h1>contact</h1>
  <section id="main-content">
    <div id="guts">
      <div class="contactphoto">
        <img src="https://dabby.s3.eu-west-3.amazonaws.com/dabbycontact" alt="Dabby Naval" style="width:20%">
      </div>
      <div class="info">
        <p>Dabby Naval stylist and fashion consultant in Paris <br> Graduate from the École de la Chambre Syndicale de la Couture Parisienne / IFM.
        <br>
        <br>
        <a href="tel:+(33)0658100245">+(33)06 58 10 02 45 </a><br>
        <a href="mailto:dabby.naval@gmail.com">dabby.naval@gmail.com</a> <br>
        <a href="https://www.instagram.com/dabby_naval/">instagram: @dabby_naval</a>
        </p>
      </div>
    </div>
  </section>
</div>
