<div id="page-wrap">
  <h1>contact</h1>
  <section id="main-content">
    <div id="guts">
      <div class="info">
        <p>dabby is a stylist and fashion consultant who lives in Paris <br>
        <a href="tel:+(33)0658100245">+(33)06.58.10.02.45 </a><br>
        <a href="dabby.naval@gmail.com">dabby.naval@gmail.com</a> <br>
        <a href="https://www.instagram.com/dabby_naval/">instagram: @dabby_naval</a>
        </p>
      </div>
    </div>
  </section>
</div>
