<div id="page-wrap">
  <h1>contact</h1>
  <section id="main-content">
    <div id="guts">
      <div class="info">
        <p>dabby is a stylist and fashion consultant who lives in Paris <br>
        +(33)0658100245 <br>
        dabby.naval@gmail.com <br>
        instagram: @dabby_naval
        </p>
      </div>
    </div>
  </section>
</div>
