<div id="page-wrap">
  <section id="main-content">
    <div id="guts">
      <div class="row">
        <div class="column">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet1.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet2.jpg"
          style="width:100%" onclick="openModal();currentSlide(5)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet3.jpg"
          style="width:100%" onclick="openModal();currentSlide(9)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel1.jpg"
          style="width:100%" onclick="openModal();currentSlide(13)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel5.jpg"
          style="width:100%" onclick="openModal();currentSlide(17)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma1.jpg"
          style="width:100%" onclick="openModal();currentSlide(21)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma2.jpg"
          style="width:100%" onclick="openModal();currentSlide(25)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/dior1.jpg"
          style="width:100%" onclick="openModal();currentSlide(29)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde1.jpg"
          style="width:100%" onclick="openModal();currentSlide(33)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde5.jpg"
          style="width:100%" onclick="openModal();currentSlide(37)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde9.jpg"
          style="width:100%" onclick="openModal();currentSlide(41)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde13.jpg"
          style="width:100%" onclick="openModal();currentSlide(45)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/nature1.jpg"
          style="width:100%" onclick="openModal();currentSlide(49)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses1.jpg"
          style="width:100%" onclick="openModal();currentSlide(53)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses2.jpg"
          style="width:100%" onclick="openModal();currentSlide(57)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles1.jpg"
          style="width:100%" onclick="openModal();currentSlide(61)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles2.jpg"
          style="width:100%" onclick="openModal();currentSlide(65)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia1.JPG"
          style="width:100%" onclick="openModal();currentSlide(69)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/gazia5.jpg"
          style="width:100%" onclick="openModal();currentSlide(73)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red1.jpg"
          style="width:100%" onclick="openModal();currentSlide(77)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red2.jpg"
          style="width:100%" onclick="openModal();currentSlide(81)" loading="lazy">
        </div>
        <div class="column">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet4.jpg"
          style="width:100%" onclick="openModal();currentSlide(2)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet5.jpg"
          style="width:100%" onclick="openModal();currentSlide(6)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet6.jpg"
          style="width:100%" onclick="openModal();currentSlide(10)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel2.jpg"
          style="width:100%" onclick="openModal();currentSlide(14)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel10.jpg"
          style="width:100%" onclick="openModal();currentSlide(18)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma3.jpg"
          style="width:100%" onclick="openModal();currentSlide(22)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma4.jpg"
          style="width:100%" onclick="openModal();currentSlide(26)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/dior2.jpg"
          style="width:100%" onclick="openModal();currentSlide(30)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde2.jpg"
          style="width:100%" onclick="openModal();currentSlide(34)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde6.jpg"
          style="width:100%" onclick="openModal();currentSlide(38)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde10.jpg"
          style="width:100%" onclick="openModal();currentSlide(42)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde14.jpg"
          style="width:100%" onclick="openModal();currentSlide(46)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/nature2.jpg"
          style="width:100%" onclick="openModal();currentSlide(50)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses7.jpg"
          style="width:100%" onclick="openModal();currentSlide(54)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses4.jpg"
          style="width:100%" onclick="openModal();currentSlide(58)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles3.jpg"
          style="width:100%" onclick="openModal();currentSlide(62)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles4.jpg"
          style="width:100%" onclick="openModal();currentSlide(66)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia2.JPG"
          style="width:100%" onclick="openModal();currentSlide(70)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia6.jpg"
          style="width:100%" onclick="openModal();currentSlide(74)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red4.jpg"
          style="width:100%" onclick="openModal();currentSlide(78)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red5.jpg"
          style="width:100%" onclick="openModal();currentSlide(82)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/MATH9667.jpg"
          style="width:100%" onclick="openModal();currentSlide(84)" loading="lazy">
        </div>
        <div class="column">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet7.jpg"
          style="width:100%" onclick="openModal();currentSlide(3)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet8.jpg"
          style="width:100%" onclick="openModal();currentSlide(7)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet9.jpg"
          style="width:100%" onclick="openModal();currentSlide(11)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel3.jpg"
          style="width:100%" onclick="openModal();currentSlide(15)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel7.jpg"
          style="width:100%" onclick="openModal();currentSlide(19)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma5.jpg"
          style="width:100%" onclick="openModal();currentSlide(23)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma6.jpg"
          style="width:100%" onclick="openModal();currentSlide(27)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/dior3.jpg"
          style="width:100%" onclick="openModal();currentSlide(31)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde3.jpg"
          style="width:100%" onclick="openModal();currentSlide(35)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde7.jpg"
          style="width:100%" onclick="openModal();currentSlide(39)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde11.jpg"
          style="width:100%" onclick="openModal();currentSlide(43)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde15.jpg"
          style="width:100%" onclick="openModal();currentSlide(47)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/nature3.jpg"
          style="width:100%" onclick="openModal();currentSlide(51)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses6.jpg"
          style="width:100%" onclick="openModal();currentSlide(55)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses8.jpg"
          style="width:100%" onclick="openModal();currentSlide(59)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles5.jpg"
          style="width:100%" onclick="openModal();currentSlide(63)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles6.jpg"
          style="width:100%" onclick="openModal();currentSlide(67)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia3.JPG"
          style="width:100%" onclick="openModal();currentSlide(71)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia7.JPG"
          style="width:100%" onclick="openModal();currentSlide(75)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red6.jpg"
          style="width:100%" onclick="openModal();currentSlide(79)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red7.jpg"
          style="width:100%" onclick="openModal();currentSlide(83)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/MATH9781.jpg"
          style="width:100%" onclick="openModal();currentSlide(85)" loading="lazy">
        </div>
        <div class="column">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet10.jpg"
          style="width:100%" onclick="openModal();currentSlide(4)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet11.jpg"
          style="width:100%" onclick="openModal();currentSlide(8)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet12.jpg"
          style="width:100%" onclick="openModal();currentSlide(12)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel4.jpg"
          style="width:100%" onclick="openModal();currentSlide(16)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel9.jpg"
          style="width:100%" onclick="openModal();currentSlide(20)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma7.jpg"
          style="width:100%" onclick="openModal();currentSlide(24)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma8.jpg"
          style="width:100%" onclick="openModal();currentSlide(28)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/dior4.jpg"
          style="width:100%" onclick="openModal();currentSlide(32)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde4.jpg"
          style="width:100%" onclick="openModal();currentSlide(36)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde8.jpg"
          style="width:100%" onclick="openModal();currentSlide(40)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde12.jpg"
          style="width:100%" onclick="openModal();currentSlide(44)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/nature4.jpg"
          style="width:100%" onclick="openModal();currentSlide(48)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses5.jpg"
          style="width:100%" onclick="openModal();currentSlide(52)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses9.jpg"
          style="width:100%" onclick="openModal();currentSlide(56)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles7.jpg"
          style="width:100%" onclick="openModal();currentSlide(60)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles8.jpg"
          style="width:100%" onclick="openModal();currentSlide(64)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia4.jpg"
          style="width:100%" onclick="openModal();currentSlide(68)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia8.JPG"
          style="width:100%" onclick="openModal();currentSlide(72)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red8.jpg"
          style="width:100%" onclick="openModal();currentSlide(76)" loading="lazy">
          <img class="lazy" src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red9.jpg"
          style="width:100%" onclick="openModal();currentSlide(80)" loading="lazy">
        </div>
      </div>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet1.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet4.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet7.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet10.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet2.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet5.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet8.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet11.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet3.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet6.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet9.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/sorbet12.jpg" style="width:auto">
          </div>
         <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel1.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel2.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel3.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel4.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel5.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel10.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel7.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/chanel9.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma1.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma3.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma5.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma7.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma2.jpg" style="width:auto">
          </div>
          <div class="mySlides">
           <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma4.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma6.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/emma8.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/dior1.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/dior2.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/dior3.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/dior4.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde1.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde2.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde3.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde4.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde5.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde6.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde7.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde8.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde9.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde10.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde11.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde12.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde13.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde14.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/blonde15.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/nature4.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/nature1.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/nature2.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/nature3.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses5.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses1.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses7.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses6.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses9.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses2.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses4.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/horses8.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles7.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles1.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles3.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles5.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles8.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles2.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles4.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/freckles6.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia4.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia1.JPG" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia2.JPG" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia3.JPG" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia8.JPG" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/gazia5.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia6.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/grazia7.JPG" style="width:auto">
          </div>
          <div class="mySlides">
             <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red8.jpg" style="width:auto">
          </div>
          <div class="mySlides">
             <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red1.jpg" style="width:auto">
          </div>
          <div class="mySlides">
             <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red4.jpg" style="width:auto">
          </div>
          <div class="mySlides">
             <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red6.jpg" style="width:auto">
          </div>
          <div class="mySlides">
             <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red9.jpg" style="width:auto">
          </div>
          <div class="mySlides">
             <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red2.jpg" style="width:auto">
          </div>
          <div class="mySlides">
             <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red5.jpg" style="width:auto">
          </div>
          <div class="mySlides">
             <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/red7.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/MATH9667.jpg" style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://dabby.s3.eu-west-3.amazonaws.com/editorial/MATH9781.jpg" style="width:auto">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

