<div id="page-wrap">
  <section id="main-content">
    <div id="guts">
      <div class="row">
        <div class="column">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034385/editiorial-dabby/sorbet1_dnlb8o.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034380/editiorial-dabby/sorbet2_hsbivv.jpg"
          style="width:100%" onclick="openModal();currentSlide(2)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034398/editiorial-dabby/sorbet3_yo1vgk.jpg"
          style="width:100%" onclick="openModal();currentSlide(3)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034325/editiorial-dabby/chanel1_s5yohq.jpg"
          style="width:100%" onclick="openModal();currentSlide(4)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034317/editiorial-dabby/chanel5_jcfa8i.jpg"
          style="width:100%" onclick="openModal();currentSlide(5)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025932/editiorial-dabby/emma1_d3msu4.jpg"
          style="width:100%" onclick="openModal();currentSlide(6)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025932/editiorial-dabby/emma2_zty2pj.jpg"
          style="width:100%" onclick="openModal();currentSlide(7)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034347/editiorial-dabby/dior1_vs1dwu.jpg"
          style="width:100%" onclick="openModal();currentSlide(8)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025919/editiorial-dabby/blonde1_h4hn3h.jpg"
          style="width:100%" onclick="openModal();currentSlide(9)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025920/editiorial-dabby/blonde5_bdrlzr.jpg"
          style="width:100%" onclick="openModal();currentSlide(10)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025924/editiorial-dabby/blonde9_si7wtn.jpg"
          style="width:100%" onclick="openModal();currentSlide(11)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025924/editiorial-dabby/blonde13_pgeaqy.jpg"
          style="width:100%" onclick="openModal();currentSlide(12)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034346/editiorial-dabby/nature1_qvcwpq.jpg"
          style="width:100%" onclick="openModal();currentSlide(13)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025942/editiorial-dabby/horses1_jnxm5z.jpg"
          style="width:100%" onclick="openModal();currentSlide(14)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025941/editiorial-dabby/horses2_tkqvmy.jpg"
          style="width:100%" onclick="openModal();currentSlide(15)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610037964/editiorial-dabby/freckles1_oqj5ii.jpg"
          style="width:100%" onclick="openModal();currentSlide(16)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610037966/editiorial-dabby/freckles2_rr4g8y.jpg"
          style="width:100%" onclick="openModal();currentSlide(17)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025939/editiorial-dabby/grazia5_voq6jg.jpg"
          style="width:100%" onclick="openModal();currentSlide(18)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025938/editiorial-dabby/grazia4_ejxa13.jpg"
          style="width:100%" onclick="openModal();currentSlide(19)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034392/editiorial-dabby/red1_ubsvnv.jpg"
          style="width:100%" onclick="openModal();currentSlide(20)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034370/editiorial-dabby/red2_ghxmnv.jpg"
          style="width:100%" onclick="openModal();currentSlide(21)">
        </div>
        <div class="column">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034384/editiorial-dabby/sorbet4_a51kb3.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034385/editiorial-dabby/sorbet5_vynuco.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034409/editiorial-dabby/sorbet6_uqf0lt.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034312/editiorial-dabby/chanel2_gkgs7h.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034328/editiorial-dabby/chanel10_fuyort.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025932/editiorial-dabby/emma3_zp4ogk.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025931/editiorial-dabby/emma4_zbm8xp.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034349/editiorial-dabby/dior2_ohgzqa.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025919/editiorial-dabby/blonde2_eiaaei.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025919/editiorial-dabby/blonde6_xxlqfo.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025923/editiorial-dabby/blonde10_b8e1ml.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025927/editiorial-dabby/blonde14_bibf9p.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034341/editiorial-dabby/nature2_tlnppv.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025943/editiorial-dabby/horses7_lhltoy.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025942/editiorial-dabby/horses4_tf0z2x.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610037965/editiorial-dabby/freckles3_pqacng.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610037964/editiorial-dabby/freckles4_scgfkl.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025937/editiorial-dabby/grazia2_l93gde.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025940/editiorial-dabby/grazia10_hwirrx.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034372/editiorial-dabby/red4_hidj7z.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034377/editiorial-dabby/red5_zu0i4b.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
        </div>
        <div class="column">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034409/editiorial-dabby/sorbet7_cbq8hv.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034411/editiorial-dabby/sorbet8_pgdxzq.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034395/editiorial-dabby/sorbet9_fv5tqc.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034325/editiorial-dabby/chanel3_ovso8g.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034316/editiorial-dabby/chanel7_mlqh8x.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025939/editiorial-dabby/emma5_trbzch.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025938/editiorial-dabby/emma6_ny71cc.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034351/editiorial-dabby/dior3_zp8fij.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025920/editiorial-dabby/blonde3_wemply.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025920/editiorial-dabby/blonde7_xwfxhl.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025923/editiorial-dabby/blonde11_wp4ffa.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025928/editiorial-dabby/blonde15_a0bcbt.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034349/editiorial-dabby/nature3_zihrve.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025943/editiorial-dabby/horses6_qxk9oe.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025943/editiorial-dabby/horses8_ifspfe.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610037966/editiorial-dabby/freckles5_obnj4e.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610037964/editiorial-dabby/freckles6_p6nnua.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025940/editiorial-dabby/grazia11_ci21sp.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025939/editiorial-dabby/grazia3_r2ipw1.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034372/editiorial-dabby/red6_ga25v9.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034379/editiorial-dabby/red7_znyeqc.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
        </div>
        <div class="column">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034402/editiorial-dabby/sorbet10_feldz4.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034405/editiorial-dabby/sorbet11_d9cn4d.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034407/editiorial-dabby/sorbet12_rcliz9.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034319/editiorial-dabby/chanel4_udx2r5.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034322/editiorial-dabby/chanel9_bfgder.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025938/editiorial-dabby/emma7_frjel2.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025940/editiorial-dabby/emma8_xaegve.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034335/editiorial-dabby/dior4_dj5l85.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025920/editiorial-dabby/blonde4_xkjuuu.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025922/editiorial-dabby/blonde8_i4wacp.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025932/editiorial-dabby/blonde12_qnwlqj.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034360/editiorial-dabby/nature4_ci8wga.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025942/editiorial-dabby/horses5_ytjzzn.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025944/editiorial-dabby/horses9_l11fxv.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610037965/editiorial-dabby/freckles7_smep3x.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610037965/editiorial-dabby/freckles8_fqhv2b.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025937/editiorial-dabby/grazia1_ks9cw9.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025942/editiorial-dabby/grazia12_krnxja.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034380/editiorial-dabby/red8_lrqbt6.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
          <img class="hover-shadow cursor" src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034380/editiorial-dabby/red9_swxcrz.jpg"
          style="width:100%" onclick="openModal();currentSlide(1)">
        </div>
      </div>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034385/editiorial-dabby/sorbet1_dnlb8o.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034380/editiorial-dabby/sorbet2_hsbivv.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034398/editiorial-dabby/sorbet3_yo1vgk.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034325/editiorial-dabby/chanel1_s5yohq.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034317/editiorial-dabby/chanel5_jcfa8i.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025932/editiorial-dabby/emma1_d3msu4.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025932/editiorial-dabby/emma2_zty2pj.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034347/editiorial-dabby/dior1_vs1dwu.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025919/editiorial-dabby/blonde1_h4hn3h.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025920/editiorial-dabby/blonde5_bdrlzr.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025924/editiorial-dabby/blonde9_si7wtn.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025924/editiorial-dabby/blonde13_pgeaqy.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034346/editiorial-dabby/nature1_qvcwpq.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025942/editiorial-dabby/horses1_jnxm5z.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025941/editiorial-dabby/horses2_tkqvmy.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610037964/editiorial-dabby/freckles1_oqj5ii.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610037966/editiorial-dabby/freckles2_rr4g8y.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025939/editiorial-dabby/grazia5_voq6jg.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610025938/editiorial-dabby/grazia4_ejxa13.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034392/editiorial-dabby/red1_ubsvnv.jpg"
            style="width:auto">
          </div>
          <div class="mySlides">
            <img src="https://res.cloudinary.com/marie-leleu/image/upload/v1610034370/editiorial-dabby/red2_ghxmnv.jpg"
            style="width:auto">
          </div>
          <!-- <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div>
          <div class="mySlides">
          </div> -->
        </div>
      </div>
    </div>
  </section>
</div>

<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

document.addEventListener(
  "click",
  function(event) {
    // If user either clicks X button OR clicks outside the modal window, then close modal by calling closeModal()
    if (
      event.target.matches(".close") ||
      event.target.matches(".modal")
    ) {
      closeModal()
    }
  },
)

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }

  slides[slideIndex-1].style.display = "block";
  // captionText.innerHTML = dots[slideIndex-1].alt;
}

var myarrow = document.getElementById("myarrow");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
    myarrow.style.display = "block";
  } else {
    myarrow.style.display = "none";
  }
}
// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>

